
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- 404 Error Text -->
                    <div class="card mt-3">
                        <div class="card-body">
                            <div class="container-fluid mt-3" class="hal-pelatihan">
                                <div class="row">
            
                                    <div class="col-md-3 mt-5">
                                        <a class="san-black" ui-sref="app.tna.index">
                                            <div class="san-menu-ojt text-center">
                                                <img src="assets/img/icon_homepage/TNA-1.png" width="80">
                                                <p>Training Analysis (TNA)</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-3 mt-5" ng-show="is_all_anggaran || checkRole('ADMIN_DIKLAT')">
                                        <a class="san-black" ui-sref="app.anggaran.dashboard">
                                            <div class="san-menu-ojt text-center">
                                                <img src="assets/img/icon_homepage/laporan.png" width="80">
                                                <p>Alokasi Anggaran</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-3 mt-5" ng-hide="is_all_anggaran || checkRole('ADMIN_DIKLAT')">
                                        <a class="san-black" ui-sref="app.anggaran.index">
                                            <div class="san-menu-ojt text-center">
                                                <img src="assets/img/icon_homepage/laporan.png" width="80">
                                                <p>Alokasi Anggaran</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-3 mt-5" ng-show="imVP_PP_tubel">
                                        <a class="san-black" ui-sref="app.beasiswa.dashboard({submenu: 'approval_tubel'})">
                                            <div class="san-menu-ojt text-center">
                                                <img src="assets/img/icon_homepage/TUGAS_BELAJAR.png" width="80">
                                                <p>Tugas Belajar</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-3 mt-5" ng-show="role_pic_tubel">
                                        <a class="san-black" ui-sref="app.beasiswa.dashboard({submenu: 'tubel_on_process'})">
                                            <div class="san-menu-ojt text-center">
                                                <img src="assets/img/icon_homepage/TUGAS_BELAJAR.png" width="80">
                                                <p>Tugas Belajar</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-3 mt-5" ng-show="imSVP_PPP_tubel">
                                        <a class="san-black" ui-sref="app.beasiswa.dashboard({submenu: 'rekapitulasi_penilaian'})">
                                            <div class="san-menu-ojt text-center">
                                                <img src="assets/img/icon_homepage/TUGAS_BELAJAR.png" width="80">
                                                <p>Tugas Belajar</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-3 mt-5" ng-show="imVP_PP_tubel || role_pic_tubel || imSVP_PPP_tubel">
                                        <a class="san-black" ui-sref="app.beasiswa.index">
                                            <div class="san-menu-ojt text-center">
                                                <img src="assets/img/icon_homepage/TUGAS_BELAJAR.png" width="80">
                                                <p>Tugas Belajar</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-3 mt-5" ng-if="imStaff_PP_pelatihan">
                                        <a class="san-black" ui-sref="app.pelatihan.perencanaan({ type: 'dalam' })">
                                            <div class="san-menu-ojt text-center">
                                                <img src="assets/img/icon_homepage/Training.png" width="80">
                                                <p>Pelatihan</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-3 mt-5" ng-if="!imStaff_PP_pelatihan">
                                        <a class="san-black" ui-sref="app.pelatihan.pengajuan({ type: 'dalam' })">
                                            <div class="san-menu-ojt text-center">
                                                <img src="assets/img/icon_homepage/Training.png" width="80">
                                                <p>Pelatihan</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-3 mt-5">
                                        <a class="san-black" ui-sref="app.sertifikasi.dashboard">
                                            <div class="san-menu-ojt text-center">
                                                <img src="assets/img/icon_homepage/Sertifikasi.png" width="80">
                                                <p>Sertifikasi</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-3 mt-5" ng-show="checkRole('PIC_MANAJEMEN_VENDOR') || imStaff">
                                        <a class="san-black" ui-sref="app.vendor.index">
                                            <div class="san-menu-ojt text-center">
                                                <img src="assets/img/icon_homepage/MANAGEMENT_PROVIDER.png" width="80">
                                                <p>Management Provider</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-3 mt-5">
                                        <a class="san-black" ui-sref="app.offer.index">
                                            <div class="san-menu-ojt text-center">
                                                <img src="assets/img/icon_homepage/offers.png" width="80">
                                                <p>Offers</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-3 mt-5">
                                        <a class="san-black" ui-sref="app.report.index">
                                            <div class="san-menu-ojt text-center">
                                                <img src="assets/img/icon_homepage/laporan.png" width="80">
                                                <p>Reporting</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-3 mt-5">
                                        <a class="san-black" ui-sref="app.submission_tracking">
                                            <div class="san-menu-ojt text-center">
                                                <img src="assets/img/icon_homepage/OJT_KARYAWAN.png" width="80">
                                                <p>Submission Tracking</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-3 mt-5">
                                        <a class="san-black" ui-sref="app.sharing_knowledge.index">
                                            <div class="san-menu-ojt text-center">
                                                <img src="assets/img/icon_homepage/SHARING_KNOWLADGE.png" width="80">
                                                <p>Sharing Knowledge</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-3 mt-5">
                                        <a class="san-black" ui-sref="app.lpj.index">
                                            <div class="san-menu-ojt text-center">
                                                <img src="assets/img/icon_homepage/PERTANGGUNG_JAWABAN.png" width="80">
                                                <p>Pertanggung Jawaban</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

          